<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verificar correo</title>
</head>

<body>
    <div class="abs-center">
        <div class="card">
            <div class="header">
                <span class="icon">
                    <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path clip-rule="evenodd"
                            d="M18 3a1 1 0 00-1.447-.894L8.763 6H5a3 3 0 000 6h.28l1.771 5.316A1 1 0 008 18h1a1 1 0 001-1v-4.382l6.553 3.276A1 1 0 0018 15V3z"
                            fill-rule="evenodd"></path>
                    </svg>
                </span>
                <p class="alert">Crear nueva contraseña</p>
            </div>

            <div class="message">
                <form [formGroup]="form_new_password">
                    <div class="mb-3">
                        <label class="form-label">Nueva contraseña</label>
                        <input formControlName="password" class="form-control" type="password">
                        <div *ngIf="submitted==false" id="passwordHelpBlock" class="form-text">
                            Su contraseña debe tener entre 8 y 20 caracteres
                        </div>

                        <div *ngIf="form_new_password.get('password')?.hasError('required') && submitted"
                            class="alert alert-danger" role="alert">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16"
                                role="img" aria-label="Warning:">
                                <path
                                    d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                            </svg>
                            La contraseña es requerida
                        </div>

                        <div *ngIf="form_new_password.get('password')?.hasError('minlength') && submitted"
                            class="alert alert-danger" role="alert">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16"
                                role="img" aria-label="Warning:">
                                <path
                                    d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                            </svg>
                            La contraseña debe tener al menos 8 caracteres
                        </div>

                        <div *ngIf="form_new_password.get('password')?.hasError('maxlength') && submitted"
                            class="alert alert-danger" role="alert">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16"
                                role="img" aria-label="Warning:">
                                <path
                                    d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                            </svg>
                            La contraseña debe tener como máximo 20 caracteres
                        </div>


                    </div>

                    <div class="mb 3">
                        <label class="form-label">Confirmar contraseña</label>
                        <input formControlName="confirm_password" for class="form-control" type="password">

                        <div *ngIf="form_new_password?.errors?.['mismatch'] && form_new_password?.touched && submitted"
                            class="alert alert-danger" role="alert">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16"
                                role="img" aria-label="Warning:">
                                <path
                                    d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                            </svg>
                            Las contraseñas no coinciden
                        </div>
                    </div>
                </form>
            </div>

            <div class="actions">
                <button (click)="crearPassword(form_new_password.value)" class="read">
                    Crear contraseña
                </button>

                <button class="mark-as-read">
                    Reenviar link de recuperación de contraseña
                </button>
            </div>
        </div>

    </div>






</body>

</html>